.option-selector
{
    margin-bottom:15px;
}

#register-table-container
{
    width: 100%;
    overflow-x: auto;
}

#register-table-container table tbody tr td:first-child
{
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
}

#export-button-holder
{
    padding: 50px;
}
