<html>
    <head>
        <title>LJScribe</title>
        <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/inject_data.css">
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/inject_data.js"></script>
    </head>
    <body>
        <div class="header">
            <div id="title">LJScribe</div>
            <div id="catchphrase">Making LabJack documentation more consistent since 2013.</div>
        </div>
        <div id="controls-section">
            <div id="input-section" class="code-section">
                <div id="contents">
                    <textarea id="input-code-area" rows="20" cols="100"></textarea>
                </div>
                <div id="title">Paste input code:</div>
                <div id="controls"><button class="clean-gray" id="generate-button">Process HTML</button></div>
                <div id="waiting"><img src="/static/images/ajax-loader.gif"> Please Wait...</div>
            </div>

            <div id="output-section" class="code-section">
                <h3 class="title">Wide Render</h3>
                <div class="rendered-output-code-context" id="rendered-output-code-context-large"></div>
                <h3 class="title">Narrow Render</h3>
                <div class="rendered-output-code-context" id="rendered-output-code-context-small"></div>
                <div id="title">Output Code</div>
                <div id="contents">
                    <textarea id="output-code-area" rows="20" cols="100"></textarea>
                </div>
            </div>
        </div>
    </body>
    <script>
    function hideDetails(z) {
    var id = z
    var x = document.getElementById(id);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    }
</script>
</html>