<style>
    h3 {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .tag {
        background-color: #F9F9F9;
        font-size: 14px;
    }

    .tag-summary {
        margin-bottom: 5px;
        width: 100%;
    }

    .tag-summary td {
        padding: 10px 5px;
        margin: 0 30px;
        border-right: 10px solid #F9F9F9;
    }

    .emphasis-row td {
        border-bottom: 1px solid;
        font-weight: bold;
    }

    .sub-tag {
        padding-top: 25px;
        margin-left: 5px;
        margin-bottom: 15px;
    }

    .sub-details .title {
        font-size: 14px;
        margin-bottom: 0;
        border-bottom: 0;
        color: black;
        font-weight: bold;
        font-family: Tahoma,Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
    }

    .sub-details {
        margin-bottom: 5px;
        font-size: 12px;
        font-family: monospace;
    }

    .sub-details td {
        width: 300px;
        border-right: 30px solid #F9F9F9;
        vertical-align: top;
    }

    .description {
        font-size: 16px;
        margin: 10px 0;
    }

    .description .title {
        font-size: 14px;
        margin-bottom: 0;
        border-bottom: 0;
        color: black;
        font-weight: bold;
    }

    .collapsed-content-expander {
        color: #505050;
    }

    .collapsed-content-expander:hover {
        color: #808080;
    }
</style>