<style>

    h4 {
        margin-top: 1em;
        margin-bottom: 0.2em;
    }

    .lj-scribe-tag {
        font-size: 13px;
    }

    .tag-title {
        margin-bottom: 0px;
        border-bottom: solid 1px black;
    }

    .tag-summary {
        background-color: #CCCCCC;
        margin-bottom: 5px;
        width: 100%;
    }

    .tag-summary td {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin: 0 30px;
        border: none;
        border-right: 10px solid #CCCCCC !important;
    }

    .emphasis-row td {
        border-bottom: 1px solid !important;
        font-weight: bold;
    }

    .sub-tag {
        margin-top: 15px;
        margin-left: 30px;
    }

    .additional-details {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .sub-tag h4 {
        display: inline;
    }

    .sub-tag .main-content {
        margin-top: 5px;
        margin-left: 30px;
    }

    .sub-details {
        margin-top: 2px;
        font-size: 13px;
    }

    .sub-details thead tr td {
        border-bottom: 1px solid black !important;
    }

    .sub-details thead tr td {
        font-weight: normal;
        text-align: left;
    }

    .sub-details tbody {
        font-family: monospace;
    }

    .sub-details tr td:first-child  {
        padding-right: 10px;
    }

    .description .title {
        /*font-size: 13px;*/
        margin-bottom: 0;
        border-bottom: 0;
        color: black;
        font-weight: bold;
    }

    .collapsed-content-expander {
        color: #505050;
    }

    .collapsed-content-expander:hover {
        color: #808080;
    }
</style>