<script type="text/javascript">
try {
    var jQueryObj;
    if(typeof($) === 'undefined') {
        jQueryObj = jQuery;
    } else {
        jQueryObj = $;
    }
    (function($) {
        
        $( document ).ready(function() {
            $('.collapsed-content-expander').closest('.content').find('.sometimes-shown').hide();
            
            $('.collapsed-content-expander').click(function(e) {
                $(e.target).closest('.content').find('.collapsed-content-expander').fadeOut(function () {
                    $(e.target).closest('.content').find('.sometimes-shown').fadeIn();
                });
                return false;
            });
        });
    })(jQueryObj);  // Execute.
} catch(err) {
    
}

</script>
<script>
    function hideDetails(z) {
    var id = z
    var x = document.getElementById(id);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    }
</script>