<html>
    <head>
        <title>SimpleRegisterLookup Demo</title>
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables_themeroller.css">
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-smoothness.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/simple_register_lookup_core.css">
        <link rel="stylesheet" type="text/css" href="/static/css/simple_register_lookup.css">
    </head>
    <body>
        <div id="description-pane-holder">
            <div id="description-pane"></div>
        </div>
		<div id="option-selectors">
	        <div id="device-selector" class="option-selector">
	            Device:
	            <select id="device-dropdown">
					{% for device_name in device_names %}
	                <option value="{{ device_name }}">{{ device_name }}</option>{% endfor %}
	            </select>
	        </div>
	        <div id="tag-selector" class="option-selector">
	            Tags:
	            <select id="tag-dropdown" multiple="multiple">
	                {% for tag in tags %}{{ tag | safe }}
	                {% endfor %}
	            </select>
	        </div>
	        <div id="expand-selector" class="option-selector">
	            Expand addresses:
	            <input type="checkbox" id="expand-checkbox">
	        </div>
		</div>
        <img id="loading-image" src="/static/images/ajax-loader.gif">
		<p id="error-message"></p>
        <div id="register-table-container">
        </div>
        {% if show_embed_controls %}
        <div id="export-button-holder">
            <div>
                <h3>Embed this table</h3>
                <button id="export-button">Embed</button>
                
                Include:
                <span class="field-checkbox">
                    <input type="checkbox" id="type-check"> type 
                </span>
                
                <span class="field-checkbox">
                    <input type="checkbox" id="fwmin-check"> fwmin 
                </span>
                
                <span class="field-checkbox">
                    <input type="checkbox" id="rw-check"> access
                </span>
                
                <span class="field-checkbox">
                    <input type="checkbox" id="tags-check"> tags 
                </span>

                <span class="field-checkbox">
                    <input type="checkbox" id="default-check"> default value 
                </span>
            </div>
            <textarea rows="10" cols="100" id="export-code-holder"></textarea>
        </div>
        {% endif %}

        <script src="/static/js/mustache.js" type="text/javascript"></script>
        <script src="/static/js/compatability.js" type="text/javascript"></script>
        <script src="/static/js/jquery.js" type="text/javascript"></script>
        <script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/static/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="/static/js/simple_register_lookup_core.js" type="text/javascript"></script>
        <script src="/static/js/simple_register_lookup.js" type="text/javascript"></script>
        <script src="/static/js/test_site.js" type="text/javascript"></script>
    </body>
</html>