<html>
    <head>
        <title>SimpleRegisterLookup Demo</title>
        <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables_themeroller.css">
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-smoothness.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/simple_register_lookup_core.css">
        <link rel="stylesheet" type="text/css" href="/static/css/simple_register_lookup.css">
    </head>
    <body>
        <div id="description-pane-holder">
            <div id="description-pane"></div>
        </div>
		<div id="option-selectors">
	        <div id="device-selector" class="option-selector">
	            Device:
	            <select id="device-dropdown">
					{% for device_name in device_names %}
	                <option value="{{ device_name }}">{{ device_name }}</option>{% endfor %}
	            </select>
	        </div>
	        <div id="tag-selector" class="option-selector">
	            Tags:
	            <select id="tag-dropdown" multiple="multiple">
	                {% for tag in tags %}{{ tag | safe }}
	                {% endfor %}
	            </select>
	        </div>
	        <div id="expand-selector" class="option-selector">
	            Expand addresses:
	            <input type="checkbox" id="expand-checkbox">
	        </div>
		</div>
        <img id="loading-image" src="/static/images/ajax-loader.gif">
		<p id="error-message"></p>
        <div id="register-table-container">
        </div>
        {% if show_embed_controls %}
        <div id="export-button-holder">
            <div>
                <h3>Embed this table</h3>
                <button id="export-button">Embed</button>
                
                Include:
                <span class="field-checkbox">
                    <input type="checkbox" id="type-check"> type 
                </span>
                
                <span class="field-checkbox">
                    <input type="checkbox" id="fwmin-check"> fwmin 
                </span>
                
                <span class="field-checkbox">
                    <input type="checkbox" id="rw-check"> access
                </span>
                
                <span class="field-checkbox">
                    <input type="checkbox" id="tags-check"> tags 
                </span>

                <span class="field-checkbox">
                    <input type="checkbox" id="default-check"> default value 
                </span>
            </div>
            <textarea rows="10" cols="100" id="export-code-holder"></textarea>
        </div>
        {% endif %}

        <script src="/static/js/mustache.js" type="text/javascript"></script>
        <script src="/static/js/compatability.js" type="text/javascript"></script>
        <script src="/static/js/jquery.js" type="text/javascript"></script>
        <script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/static/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="/static/js/simple_register_lookup_core.js" type="text/javascript"></script>
        <script src="/static/js/simple_register_lookup.js" type="text/javascript"></script>
        <script src="/static/js/test_site.js" type="text/javascript"></script>
         <script type="text/javascript">
        $( document ).ready(function() {
 
        var urlParams = new URLSearchParams(window.location.search);
        var Device = urlParams.get('Device'); 
        var DevicesTag = urlParams.get('Tag'); 
        var TagsExpand = urlParams.get('Expand'); 
        var deviceDropdown = document.getElementById('device-dropdown');
        var len = deviceDropdown.options.length;
        for(i = 0; i < len; i++)
         {
         if (deviceDropdown.options[i].innerHTML == Device)
         {
         deviceDropdown.selectedIndex = i;
         break;
         }     
        }
        var tagdropdown = document.getElementById('tag-dropdown');
        var len = tagdropdown.options.length;
        for(i = 0; i < len; i++)
         {
         if (tagdropdown.options[i].innerHTML == DevicesTag)
         {
         tagdropdown.selectedIndex = i;
         break;
         }     
        }
        if(TagsExpand == "true"){
            document.getElementById("expand-checkbox").checked = true;
        }
        });
         $('#device-dropdown').on('change', function() {
            deeplink();
        });
          $('#tag-dropdown').on('change', function() {
            deeplink();
        });
           $('#expand-checkbox').on('change', function() {
            deeplink();
        });
            function deeplink(){
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?Device=" + $("#device-dropdown").val() + "&Tag=" + $("#tag-dropdown").val() + "&Expand=" + $("#expand-checkbox").is(':checked')
            window.history.pushState({ path: newurl }, '', newurl);
            }

        </script>
    </body>
</html>