<style>

table {
    font-family: arial, sans-serif !important;
    border-collapse: collapse !important;
    width: 100% !important;
}

td, th {
    border: 1px solid #dddddd !important;
    text-align: left !important;
    padding: 8px !important;
}

tr:nth-child(even) {
    background-color: #dddddd !important;
}

</style>


<table>
<tr><th>Error Code</th>  <th>Error Name</th>  <th>Description</th></tr>
{% for error in tag %}
    {% for test in error %}
<tr>
    <td>
   {{test['error']}}
    </td>
     <td>
   {{test['string']}}
    </td>
     <td>
   {{test['description']}}
    </td>
</tr>
    {% endfor %}
{% endfor %}
</table>

