<div class="lj-scribe-tag" id="{{ orig_str.replace('@', '') }}">
    {% if tag[0][0].title != "" %}
    <h3 class="tag-title">{{ tag[0][0].title }}</h3>
    {% endif %}
    <table class="tag-summary">
        <thead>
            <tr class="emphasis-row">
                <td>Name</td>
                <td>Start Address</td>
                <td>Type</td>
                <td>Access</td>
            </tr>
        </thead>
        <tbody>
            {% for (orig_subtag, subtag) in tag %}
            <tr class="class-summary">
                {% if orig_subtag.includes_ljmmm %}
                    <td>{{orig_subtag.prefix}}#({{orig_subtag.start_num}}:{{orig_subtag.start_num + orig_subtag.num_regs - 1}}){{orig_subtag.postfix}}</td>
                {% else %}
                    <td>{{orig_subtag.prefix}}</td>
                {% endif %}
                <td>{{subtag.resolved[0].address}}</td>
                <td>{{subtag.unresolved.type}}</td>
                <td>
                {% if subtag.resolved[0].read %}
                    {% if subtag.resolved[0].write %}
                    R/W
                    {% else %}
                    R
                    {% endif %}
                {% elif subtag.resolved[0].write %}
                    W
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="tag-details" id="">
        {% for (orig_subtag, subtag) in tag %}
        <div class="sub-tag">
            {% if orig_subtag.includes_ljmmm %}
            <h4>{{orig_subtag.prefix}}#({{orig_subtag.start_num}}:{{orig_subtag.start_num + orig_subtag.num_regs - 1}}){{orig_subtag.postfix}}</h4>
            {% else %}
            <h4>{{orig_subtag.prefix}}</h4>
            {% endif %}
            - {% if subtag.resolved|length == 1 %}Address:{% else %}Starting Address:{% endif %} {{subtag.resolved[0].address}}
            <div class="main-content">
                <div class="description">
                    <div class="content">
                        {{ subtag.unresolved.description | safe }}</br>
                        <ul class="additional-details">
                        <li>Data type: {{subtag.unresolved.type}}</li>
                        <li>
                            {% if subtag.resolved[0].read %}
                                {% if subtag.resolved[0].write %}
                                Readable and writable
                                {% else %}
                                Read-only
                                {% endif %}
                            {% elif subtag.resolved[0].write %}
                                Write-only
                            {% endif %}
                        </li>
                        {% if subtag.unresolved.default is defined %}
                            <li>Default value: {{subtag.unresolved.default}}</li>
                        {% endif %}
                        {% if subtag.unresolved.streamable %}
                            <li>This register may be streamed</li>
                        {% endif %}
                        {% if subtag.resolved[0].fwmin %}
                            <li>Minimum <a href="https://labjack.com/support/firmware">firmware</a> version: {{ '%.04f' % subtag.resolved[0].fwmin }}</li>
                        {% endif %}
                        {% if subtag.unresolved.isBuffer %}
                            <li>This register is a <a href="https://labjack.com/support/datasheets/t7/communication/modbus-map/buffer-registers">Buffer Register</a></li>
                        {% endif %}
                        {% if subtag.resolved[0].deviceDescription %}
                            <li>Device-specific details: {{ subtag.resolved[0].deviceDescription }}</li>
                        {% endif %}
                        </ul>
                        {% if subtag.resolved[0].constants %}
                            <table class="sub-details">
                            <thead>
                                <tr>
                                    <td>{{ orig_subtag.prefix }} Constants</td>
                                    <td>Value</td>
                                </tr>
                            </thead>
                            <tbody>
                            {% for constant in subtag.resolved[0].constants %}
                                <tr>
                                    <td>{{ constant.name }}</td>
                                    <td>{{ constant.value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                {% if subtag.resolved|length > 1 %}
                <table class="sub-details">
                <thead>
                    <tr class="title">
                        <td>Expanded Names</td>
                        <td>Addresses</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="content">
                        <td>
                            {% for individual in subtag.resolved %}
                            <span class="individual-name {% if loop.index <= 3 %}always-shown{% else %}sometimes-shown{% endif %}">
                                {{ individual.name }}{% if not loop.last %},{% endif %}
                            </span>
                            {% endfor %}
                            {% if subtag.resolved|length > 3 %}
                            <a href="#" class="collapsed-content-expander">Show All</a>
                            {% endif %}
                        </td>
                        <td>
                            {% for individual in subtag.resolved %}
                            <span class="individual-address {% if loop.index <= 3 %}always-shown{% else %}sometimes-shown{% endif %}">
                                {{ individual.address }}{% if not loop.last %},{% endif %}
                            </span>
                            {% endfor %}
                            {% if subtag.resolved|length > 3 %}
                            <a href="#" class="collapsed-content-expander">Show All</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>